In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [3]:
data = pd.read_csv("data/diabetes.csv")
data.head()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares,Diabetes
0,58,32.4,158,104,133,248,3,1,1
1,71,26.8,82,62,170,152,7,1,1
2,48,28.2,142,81,286,234,8,0,1
3,34,22.1,146,103,189,274,0,0,1
4,62,30.2,137,61,118,287,3,0,1

In [4]:
data.shape

(800, 9)

In [5]:
data.columns

Index(['Edad', 'IMC', 'Glucosa', 'Presion_Arterial', 'Insulina', 'Colesterol',
       'Actividad_Fisica', 'Antecedentes_Familiares', 'Diabetes'],
      dtype='object')

In [6]:
data.describe()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares,Diabetes
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,50.486250,28.356250,135.042500,89.953750,155.533750,226.981250,4.528750,0.528750,0.748750
std,17.250994,5.320949,38.573476,17.062107,80.826806,43.851192,2.815419,0.499485,0.434003
min,20.000000,14.100000,70.000000,60.000000,15.000000,150.000000,0.000000,0.000000,0.000000
25%,36.000000,24.700000,101.000000,76.000000,87.000000,189.000000,2.000000,0.000000,0.000000
50%,51.000000,28.200000,136.000000,91.000000,153.000000,227.000000,5.000000,1.000000,1.000000
75%,66.000000,32.025000,170.000000,104.000000,223.000000,265.000000,7.000000,1.000000,1.000000
max,79.000000,43.800000,199.000000,119.000000,299.000000,299.000000,9.000000,1.000000,1.000000

In [9]:
data["Diabetes"].value_counts(normalize=True)

Diabetes
1    0.74875
0    0.25125
Name: proportion, dtype: float64

In [11]:
X=data.iloc[:,0:8]
X.head()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares
0,58,32.4,158,104,133,248,3,1
1,71,26.8,82,62,170,152,7,1
2,48,28.2,142,81,286,234,8,0
3,34,22.1,146,103,189,274,0,0
4,62,30.2,137,61,118,287,3,0

In [12]:
Y=data.iloc[:,8]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Diabetes, dtype: int64

In [13]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [29]:
knn=KNeighborsClassifier(n_neighbors=9, metric="euclidean")

In [30]:
cv=StratifiedKFold(n_splits=5,shuffle=True, random_state=42)

In [31]:
accuracy_score_knn=cross_val_score(knn,X_scaled, Y,cv=cv,scoring="accuracy")

In [32]:
print("Accuracy para cada bloque",accuracy_score_knn)
print("Accuracy promedio",accuracy_score_knn.mean())
print("Accuracy desviación",accuracy_score_knn.std())

Accuracy para cada bloque [0.90625 0.89375 0.9125  0.9125  0.89375]
Accuracy promedio 0.9037499999999999
Accuracy desviación 0.008477912478906556

In [33]:
accuracy_score_knn=cross_val_score(knn,X_scaled, Y,cv=cv,scoring="f1")

In [34]:
print("F1 para cada bloque",accuracy_score_knn)
print("F1 promedio",accuracy_score_knn.mean())
print("F1 desviación",accuracy_score_knn.std())

F1 para cada bloque [0.93927126 0.93172691 0.944      0.94214876 0.93117409]
F1 promedio 0.937664202418131
F1 desviación 0.005295455590341354

# SVM

In [37]:
svm=SVC(kernel='rbf', C=1.0, gamma="scale", random_state=42)

In [38]:
accuracy_score_svm=cross_val_score(svm,X_scaled, Y,cv=cv,scoring="accuracy")

In [39]:
print("Accuracy para cada bloque",accuracy_score_svm)
print("Accuracy promedio",accuracy_score_svm.mean())
print("Accuracy desviación",accuracy_score_svm.std())

Accuracy para cada bloque [0.89375 0.9125  0.93125 0.90625 0.91875]
Accuracy promedio 0.9125
Accuracy desviación 0.012499999999999989

In [40]:
accuracy_score_svm=cross_val_score(svm,X_scaled, Y,cv=cv,scoring="f1")

In [42]:
print("F1 para cada bloque",accuracy_score_svm)
print("F1 promedio",accuracy_score_svm.mean())
print("F1 desviación",accuracy_score_svm.std())

F1 para cada bloque [0.93004115 0.944      0.95510204 0.93723849 0.94560669]
F1 promedio 0.9423976762728439
F1 desviación 0.008409125618307168