In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [3]:
data = pd.read_csv("data/diabetes.csv")
data.head()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares,Diabetes
0,58,32.4,158,104,133,248,3,1,1
1,71,26.8,82,62,170,152,7,1,1
2,48,28.2,142,81,286,234,8,0,1
3,34,22.1,146,103,189,274,0,0,1
4,62,30.2,137,61,118,287,3,0,1

In [4]:
data.shape

(800, 9)

In [5]:
data.columns

Index(['Edad', 'IMC', 'Glucosa', 'Presion_Arterial', 'Insulina', 'Colesterol',
       'Actividad_Fisica', 'Antecedentes_Familiares', 'Diabetes'],
      dtype='object')

In [6]:
data.describe()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares,Diabetes
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,50.486250,28.356250,135.042500,89.953750,155.533750,226.981250,4.528750,0.528750,0.748750
std,17.250994,5.320949,38.573476,17.062107,80.826806,43.851192,2.815419,0.499485,0.434003
min,20.000000,14.100000,70.000000,60.000000,15.000000,150.000000,0.000000,0.000000,0.000000
25%,36.000000,24.700000,101.000000,76.000000,87.000000,189.000000,2.000000,0.000000,0.000000
50%,51.000000,28.200000,136.000000,91.000000,153.000000,227.000000,5.000000,1.000000,1.000000
75%,66.000000,32.025000,170.000000,104.000000,223.000000,265.000000,7.000000,1.000000,1.000000
max,79.000000,43.800000,199.000000,119.000000,299.000000,299.000000,9.000000,1.000000,1.000000

In [9]:
data["Diabetes"].value_counts(normalize=True)

Diabetes
1    0.74875
0    0.25125
Name: proportion, dtype: float64

In [11]:
X=data.iloc[:,0:8]
X.head()

,Edad,IMC,Glucosa,Presion_Arterial,Insulina,Colesterol,Actividad_Fisica,Antecedentes_Familiares
0,58,32.4,158,104,133,248,3,1
1,71,26.8,82,62,170,152,7,1
2,48,28.2,142,81,286,234,8,0
3,34,22.1,146,103,189,274,0,0
4,62,30.2,137,61,118,287,3,0

In [12]:
Y=data.iloc[:,8]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Diabetes, dtype: int64

In [13]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [18]:
knn=KNeighborsClassifier(n_neighbors=5, metric="euclidian")

In [ ]:
cv=