# Practica 3

Una empresa de comercio electrónico está interesada en analizar el comportamiento de sus 
clientes durante campañas de marketing digital, con el objetivo de predecir si un usuario 
realizará una compra (1) o no (0).

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold, cross_val_score, train_test_split

1) Lea el archivo csv “marketing_digital.csv” y cárguelo en un Dataframe llamado data, imprima 
los primeros 5 registros para revisar que se haya cargado de manera correcta.

In [2]:
data = pd.read_csv("data/marketing_digital.csv")
data.head()

,Edad,Ingreso_Mensual,Frecuencia_Compra,Tiempo_Web_Min,Descuento_Usado,Campanas_Vistas,Compra
0,65,28501.864093,12,58.477738,1,4,0
1,22,27821.725056,19,14.499604,1,0,0
2,43,21533.399897,10,15.565207,0,1,0
3,21,10112.272028,15,41.490982,0,7,0
4,37,14015.346819,2,34.183489,1,0,0

2) Calcule la proporción de cada clase de la variable objetivo

In [3]:
data.describe()

,Edad,Ingreso_Mensual,Frecuencia_Compra,Tiempo_Web_Min,Descuento_Usado,Campanas_Vistas,Compra
count,950.000000,950.000000,950.000000,950.000000,950.000000,950.000000,950.000000
mean,43.706316,25001.435068,10.286316,35.379199,0.487368,4.492632,0.450526
std,15.249836,7858.696971,5.420186,15.054864,0.500104,2.903696,0.497808
min,18.000000,2222.293153,1.000000,-22.647273,0.000000,0.000000,0.000000
25%,30.000000,19660.189661,6.000000,25.283020,0.000000,2.000000,0.000000
50%,44.000000,25295.070702,11.000000,35.436987,0.000000,5.000000,0.000000
75%,57.000000,30383.133973,15.000000,45.832683,1.000000,7.000000,1.000000
max,69.000000,52331.070548,19.000000,75.995962,1.000000,9.000000,1.000000

In [4]:
data["Compra"].value_counts(normalize=True)

Compra
0    0.549474
1    0.450526
Name: proportion, dtype: float64

3) Defina variables predictoras y la variable objetivo.

In [5]:
X=data.iloc[:,0:6]
X.head()

,Edad,Ingreso_Mensual,Frecuencia_Compra,Tiempo_Web_Min,Descuento_Usado,Campanas_Vistas
0,65,28501.864093,12,58.477738,1,4
1,22,27821.725056,19,14.499604,1,0
2,43,21533.399897,10,15.565207,0,1
3,21,10112.272028,15,41.490982,0,7
4,37,14015.346819,2,34.183489,1,0

In [6]:
Y=data.iloc[:,6]
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Compra, dtype: int64

4) Escale las variables predictoras para estandarizarlas

In [7]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

5) Construya el modelo KNN (use 5 vecinos), SVC y el de árboles de clasificación

In [8]:
knn=KNeighborsClassifier(n_neighbors=5, metric="euclidean")

In [9]:
svc=SVC(kernel='rbf', C=1.0, gamma="scale", random_state=42)

In [10]:
tree=DecisionTreeClassifier(max_depth=3)

6) Aplique validación cruzada con 5 folds

In [11]:
cv=StratifiedKFold(n_splits=5,shuffle=True, random_state=42)

7) Obtenga accuracy para los 3 modelos

In [12]:
accuracy_score_knn=cross_val_score(knn,X_scaled, Y,cv=cv,scoring="accuracy")
accuracy_score_svm=cross_val_score(svc,X_scaled, Y,cv=cv,scoring="accuracy")
accuracy_score_tree = cross_val_score(tree, X, Y, cv=cv,scoring="accuracy")

In [13]:
print("KNN")
print("Accuracy para cada bloque",accuracy_score_knn)
print("Accuracy promedio",accuracy_score_knn.mean())
print("Accuracy desviación",accuracy_score_knn.std())
print("-"*10)
print("SVM")
print("Accuracy para cada bloque",accuracy_score_svm)
print("Accuracy promedio",accuracy_score_svm.mean())
print("Accuracy desviación",accuracy_score_svm.std())
print("tree")
print("-"*10)
print("Accuracy para cada bloque",accuracy_score_tree)
print("Accuracy promedio",accuracy_score_tree.mean())
print("Accuracy desviación",accuracy_score_tree.std())
print("-"*10)

KNN
Accuracy para cada bloque [0.65263158 0.68947368 0.73157895 0.67368421 0.68421053]
Accuracy promedio 0.6863157894736841
Accuracy desviación 0.025912702368613004
----------
SVM
Accuracy para cada bloque [0.69473684 0.74210526 0.71052632 0.68421053 0.72105263]
Accuracy promedio 0.7105263157894737
Accuracy desviación 0.020247772696496136
tree
----------
Accuracy para cada bloque [0.66315789 0.73157895 0.70526316 0.67368421 0.67368421]
Accuracy promedio 0.6894736842105262
Accuracy desviación 0.025350725429036443
----------

8) Obtenga f1 para los 3 modelos

In [14]:
f1_score_knn=cross_val_score(knn,X_scaled, Y,cv=cv,scoring="f1")
f1_score_svm=cross_val_score(svc,X_scaled, Y,cv=cv,scoring="f1")
f1_score_tree = cross_val_score(tree, X, Y, cv=cv,scoring="f1")

In [15]:
print("KNN")
print("Accuracy para cada bloque",f1_score_knn)
print("Accuracy promedio",f1_score_knn.mean())
print("Accuracy desviación",f1_score_knn.std())
print("-"*10)
print("SVM")
print("Accuracy para cada bloque",f1_score_svm)
print("Accuracy promedio",f1_score_svm.mean())
print("Accuracy desviación",f1_score_svm.std())
print("tree")
print("-"*10)
print("Accuracy para cada bloque",f1_score_tree)
print("Accuracy promedio",f1_score_tree.mean())
print("Accuracy desviación",f1_score_tree.std())
print("-"*10)

KNN
Accuracy para cada bloque [0.59756098 0.64242424 0.69461078 0.63953488 0.65517241]
Accuracy promedio 0.6458606587982292
Accuracy desviación 0.031138293885201816
----------
SVM
Accuracy para cada bloque [0.64197531 0.69565217 0.66666667 0.64285714 0.68639053]
Accuracy promedio 0.6667083649246414
Accuracy desviación 0.02193507878676488
tree
----------
Accuracy para cada bloque [0.57894737 0.70857143 0.67816092 0.63953488 0.65934066]
Accuracy promedio 0.6529110519188601
Accuracy desviación 0.043420091081949795
----------

9) Repita el proceso, pero ahora utilice 9 vecinos.

In [16]:
knn=KNeighborsClassifier(n_neighbors=9, metric="euclidean")

In [17]:
cv=StratifiedKFold(n_splits=5,shuffle=True, random_state=42)

In [18]:
accuracy_score_knn_=cross_val_score(knn,X_scaled, Y,cv=cv,scoring="accuracy")
accuracy_score_svm_=cross_val_score(svc,X_scaled, Y,cv=cv,scoring="accuracy")
accuracy_score_tree_ = cross_val_score(tree, X, Y, cv=cv,scoring="accuracy")

In [19]:
print("KNN")
print("Accuracy para cada bloque",accuracy_score_knn_)
print("Accuracy promedio",accuracy_score_knn_.mean())
print("Accuracy desviación",accuracy_score_knn_.std())
print("-"*10)
print("SVM")
print("Accuracy para cada bloque",accuracy_score_svm_)
print("Accuracy promedio",accuracy_score_svm_.mean())
print("Accuracy desviación",accuracy_score_svm_.std())
print("tree")
print("-"*10)
print("Accuracy para cada bloque",accuracy_score_tree_)
print("Accuracy promedio",accuracy_score_tree_.mean())
print("Accuracy desviación",accuracy_score_tree_.std())
print("-"*10)

KNN
Accuracy para cada bloque [0.74210526 0.70526316 0.71052632 0.70526316 0.71052632]
Accuracy promedio 0.7147368421052631
Accuracy desviación 0.013885164166603072
----------
SVM
Accuracy para cada bloque [0.69473684 0.74210526 0.71052632 0.68421053 0.72105263]
Accuracy promedio 0.7105263157894737
Accuracy desviación 0.020247772696496136
tree
----------
Accuracy para cada bloque [0.66315789 0.73157895 0.70526316 0.67368421 0.67368421]
Accuracy promedio 0.6894736842105262
Accuracy desviación 0.025350725429036443
----------

In [20]:
f1_score_knn_=cross_val_score(knn,X_scaled, Y,cv=cv,scoring="f1")
f1_score_svm_=cross_val_score(svc,X_scaled, Y,cv=cv,scoring="f1")
f1_score_tree_ = cross_val_score(tree, X, Y, cv=cv,scoring="f1")

In [21]:
print("KNN")
print("Accuracy para cada bloque",f1_score_knn_)
print("Accuracy promedio",f1_score_knn_.mean())
print("Accuracy desviación",f1_score_knn_.std())
print("-"*10)
print("SVM")
print("Accuracy para cada bloque",f1_score_svm_)
print("Accuracy promedio",f1_score_svm_.mean())
print("Accuracy desviación",f1_score_svm_.std())
print("tree")
print("-"*10)
print("Accuracy para cada bloque",f1_score_tree_)
print("Accuracy promedio",f1_score_tree_.mean())
print("Accuracy desviación",f1_score_tree_.std())
print("-"*10)

KNN
Accuracy para cada bloque [0.6918239  0.65853659 0.67836257 0.6744186  0.67455621]
Accuracy promedio 0.6755395751010503
Accuracy desviación 0.010625194306943178
----------
SVM
Accuracy para cada bloque [0.64197531 0.69565217 0.66666667 0.64285714 0.68639053]
Accuracy promedio 0.6667083649246414
Accuracy desviación 0.02193507878676488
tree
----------
Accuracy para cada bloque [0.57894737 0.70857143 0.67816092 0.63953488 0.65934066]
Accuracy promedio 0.6529110519188601
Accuracy desviación 0.043420091081949795
----------

 ¿Hay alguna variación en el accuracy o f1 al 
hacer este cambio?

In [24]:
data = {
    "Accuracy knn 5": [accuracy_score_knn.mean(), accuracy_score_knn.std()],
    "Accuracy knn 9": [accuracy_score_knn_.mean(), accuracy_score_knn_.std()],
    "Accuracy svm 5": [accuracy_score_svm.mean(), accuracy_score_svm.std()],
    "Accuracy svm 9": [accuracy_score_svm_.mean(), accuracy_score_svm_.std()],
    "Accuracy tree 5": [accuracy_score_tree.mean(), accuracy_score_tree.std()],
    "Accuracy tree 9": [accuracy_score_tree_.mean(), accuracy_score_tree_.std()],
    "F1 knn 5": [f1_score_knn.mean(), f1_score_knn.std()],
    "F1 knn 9": [f1_score_knn_.mean(), f1_score_knn_.std()],
    "F1 svm 5": [f1_score_svm.mean(), f1_score_svm.std()],
    "F1 svm 9": [f1_score_svm_.mean(), f1_score_svm_.std()],
    "F1 tree 5": [f1_score_tree.mean(), f1_score_tree.std()],
    "F1 tree 9": [f1_score_tree_.mean(), f1_score_tree_.std()],
}

df = pd.DataFrame(data, index=["Mean", "Std"])

(df)

,Accuracy knn 5,Accuracy knn 9,Accuracy svm 5,Accuracy svm 9,Accuracy tree 5,Accuracy tree 9,F1 knn 5,F1 knn 9,F1 svm 5,F1 svm 9,F1 tree 5,F1 tree 9
Mean,0.686316,0.714737,0.710526,0.710526,0.689474,0.689474,0.645861,0.675540,0.666708,0.666708,0.652911,0.652911
Std,0.025913,0.013885,0.020248,0.020248,0.025351,0.025351,0.031138,0.010625,0.021935,0.021935,0.043420,0.043420

* Sí, pero muy pequeño, pero mejora.

 ¿Cuál de los 3 algoritmos funciona mejora para la base de datos proporcionada? Justifique 
su respuesta.

* El mejor es el KNN de 9 vecinos ya que tiene mejores valores tanto en accuracy como en F1